PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-sip==12.18.0
packaging==25.0
requests==2.34.2
charset-normalizer==3.4.9
idna==3.18
urllib3==2.7.0
certifi==2026.6.17
defusedxml==0.7.1
openpyxl==3.1.5
et-xmlfile==2.0.0
xlrd==2.0.2
